input[type="checkbox"],input[type="radio"] {
    width: 16px;
    position: relative;
    top: 3px;
    height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #3e4657;
    left: 1px;
    margin-right: 5px;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked, 
input[type="radio"]:checked {
    background-color: #717d9a;
    transition: all 0.3s ease;
}

input[type="radio"] {
    border-radius:50%;
}